# Configurações e Credenciais
.env
.env.local
.env.*.local

# Node modules
node_modules/
package-lock.json
yarn.lock

# Arquivos do Sistema
.DS_Store
Thumbs.db
*.log

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Builds
dist/
build/